// Local Variables
$brand-height: 54px;
$brand-font-size: 24px;
$brand-height-index: 84px;
$brand-font-size-index: 36px;
// $navbar-gradiant-index: linear-gradient(#000c, #0000);

.navbar {
  font-family: $font-titles;
  background: $white;
  box-shadow: $shadow;
  z-index: 10000;

  // Brand Section
  .navbarBrand {
    padding: 0;
    display: inline-flex;
    align-items: center;

    .brandLogo {
      margin-right: 10px;
      height: $brand-height;
      @include transition(height);
    }

    .brandText {
      color: $primary !important;
      font-size: $brand-font-size;
      font-weight: bold;

      @include transition(font-size, color);
    }
  }

  // Toggler Button
  .toggler {
    color: $primary !important;
    border-color: $primary !important;
    font-size: $brand-font-size;

    @include transition(border-color, color, font-size);
  }

  // List of Items
  .nav {
    text-align: center;

    // Links
    .navDropdown > a,
    .navLink {
      font-size: 1rem;
      color: $primary !important;
      @include transition(font-size);

      &:hover {
        color: $primary-dark !important;
        text-decoration: underline;
      }
    }

    .navDropdown {
      div {
        background-color: $primary !important;
        text-align: center;

        @include media-lg {
          text-align: left;
        }

        a {
          color: $white !important;

          &:hover {
            color: $primary-dark !important;
            text-decoration: none;
          }

          &:active {
            color: $white !important;
            background-color: $primary-dark !important;
          }
        }
      }
    }

    .navLinkActive {
      font-weight: bold;
    }

    .navDropdownActive {
      & > a {
        font-weight: bold;
      }

      .navLinkActive {
        font-weight: normal;
        background-color: $white !important;
        color: $primary !important;
      }
    }
  }
}

.coverNavbar {
  box-shadow: $not-shadow;
  background: transparent;

  // Brand Section
  .navbarBrand {
    .brandLogo {
      height: $brand-height-index;
    }

    .brandText {
      display: none;

      @include media-sm {
        display: block;
        font-size: $brand-font-size-index;
        color: $white !important;
      }
    }
  }

  // Toggler Button
  .toggler {
    border-color: $white !important;
    color: $white !important;
    font-size: $brand-font-size-index;
  }

  // List of Items
  .nav {
    background-color: rgba($primary-dark, 0.95) !important;
    margin-top: 5px;
    padding: 1em;

    @include media-lg {
      background-color: transparent !important;
      margin-top: 0;
      padding: 0;
    }

    .navDropdown > a,
    .navLink {
      font-size: 1.125em;
      color: $white !important;

      &:hover {
        color: $white !important;
        text-decoration: underline;
      }
    }
  }
}
