// Font Loads
@import "fonts";

// Bootstrap Styles
@import "bootstrap/scss/bootstrap";

// Scrollbar Styles
@import "scrollbar";

// Personal Styles
body {
  font-family: $font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-titles;
}

// All images fluids
img {
  max-width: 100%;
  height: auto;
}
